:root{
    --anoblue : #006282;
    --deepblue: #047ea7;
    --cyan:#07d7de;
    --green:#02a902;
    --deepgreen:#2cab2c;
    --pink:#ff4161;
    --deeppink: #b52e44;
    --yellow: #fcf827;
    --deepyellow:#b8b800;
    --orange:#feac29;
    --deeporange:#fe7024;
    --lightdark: #d1d1d1; 
    --darklight:#797272;
}
body{
    background: var(--new);
}
.academic{
padding:30px;
margin-top: 100px;
}
.all-academic{
    width: 260px;
    display: none;
}
.all-academic.show{
    display: block;
}
.all-academic a{
    width: 90%;
    text-decoration: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--white);
    padding: 10px;
    font-size: 1.2em;
    transition: 250ms;
    border-bottom: 1px solid var(--gray);
    box-shadow:inset 6px 6px 10px var(--new), inset -6px -6px 10px var(--gnew);
}
.all-academic a > span{
    display: block;
    color:var(--black);
    font-size: 18px;
    padding:5px;
}
.all-academic a:last-child{
    border-bottom: 0;
}
.all-academic a:hover{
    background: var(--sky);
    letter-spacing: 2px;
    font-style: italic;
    transform: scale(1.05);
    box-shadow: 3px 3px 5px var(--white);
}
.all-year{
    font-size: 1.3em;
    color:var(--dark);
    width: 240px;
    padding: 0 10px;
    background-color: var(--blue);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-year img{
    width: 40px;
    padding:3px;
    cursor: pointer;
}
.year{
    position: fixed;
    top: 70px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding:5px 15px;
}
.year a{
    display: inline-block;
    margin-left: 5px;
}
.year a img{
  width: 40px;
}
.academic h3{
    text-align: center;
    font-weight: normal;
    font-size: 2.3em;
    padding:5px 15px;
    position: relative;
}
.academic h3::after{
    content: "";
    width: 290px;
    height: 3px;
    background: var(--dark);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.description .text{
    line-height: 1.5em;
    font-size: 1.3em;
    text-indent: 30px;
    margin: 18px;
}

.std {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.male-std,.fm-std{
    display: flex;
    align-items: center;
}
.std span{
    display: inline-block;
    font-size: 2.5em;
    padding:8px;
    color: var(--blue);
}
.time-lect{
    width: 90%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.time-tab{
    width: 70%;
    font-weight: normal;
    font-size: 1.6em;
    color:var(--dark);
    padding:5px 10px;
    margin-bottom: 15px;
    position: relative;
}
.time-tab::after{
    content: "";
    width: 325px;
    height: 3px;
    background:var(--dark);
    position: absolute;
    bottom:0%;
    left:0%;
}
.time-lect .course-tim p{
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
}
.course-tim{
    margin-left: 5px;
    width: 700px;
    display:flex;
    flex-direction: column;
    padding-left: 30px;
}
table{
    margin-bottom: 15px;
    transition: 220ms;
}
table th{
    padding:8px;
}
table td{
    padding:8px;
    font-size: 1em;
}

/* first year junior*/
#fyj{
    border:2px solid var(--anoblue);
    box-shadow: inset 8px 8px 8px lightblue, inset -8px -8px 8px snow;
}
#fyj th{
    background-color: var(--anoblue);
}
#fyj td{
    background: var(--snow);
    color:#000;
    border:1px solid var(--anoblue);
}
.tim-fyj{
    color:var(--anoblue);
}
/* ///// */

/* first year senior*/
#fys{
    border:2px solid var(--deepblue);
    box-shadow: inset 8px 8px 8px lightblue, inset -8px -8px 8px snow;
}
#fys th{
    color:snow;
    background-color: var(--deepblue);
}
#fys td{
    background: var(--snow);
    color:var(--deepblue);
    border:1px solid var(--deepblue);
}
.tim-fys{
    color:var(--deepblue);
}
/* ///// */

/* second year */
#sys{
    border:2px solid var(--deeppink);
    box-shadow: inset 8px 8px 8px lightpink, inset -8px -8px 8px snow;
}
#sys th{
    color:snow;
    background-color: var(--deeppink);
}
#sys td{
    background: var(--snow);
    color:var(--deeppink);
    border:1px solid var(--deeppink);
}
.tim-sys{
    color:var(--deeppink);
}
/* ///// */

/* third year cs */
#tys{
    border:2px solid var(--green);
    box-shadow: inset 8px 8px 8px lightgreen, inset -8px -8px 8px snow;
}
#tys th{
    color:snow;
    background-color: var(--green);
}
#tys td{
    background: var(--snow);
    color:var(--green);
    border:1px solid var(--green);
}
.tim-tys{
    color:var(--green);
}
/* ///// */

/* third year ct */
#tyt{
    border:2px solid var(--deepgreen);
    box-shadow: inset 8px 8px 8px lightgreen, inset -8px -8px 8px snow;
}
#tyt th{
    color:snow;
    background-color: var(--deepgreen);
}
#tyt td{
    background: var(--snow);
    color:var(--deepgreen);
    border:1px solid var(--deepgreen);
}
.tim-tyt{
    color:var(--deepgreen);
}
/* ///// */

/* fourth year cs */
#foys{
    border:2px solid var(--deepyellow);
    box-shadow: inset 8px 8px 8px lightyellow, inset -8px -8px 8px snow;
}
#foys th{
    color:snow;
    background-color: var(--deepyellow);
}
#foys td{
    background: var(--snow);
    color:var(--deepyellow);
    border:1px solid var(--deepyellow);
}
.tim-foys{
    color:var(--deepyellow);
}
/* ///// */

.course-tim a{
    text-decoration: none;
    color:var(--black);
    width: 120px;
    margin-top: 5px;
    display: inline-block;
}
.v-s{
    width: 90%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
}
.all-vi a{
    display: block;
    font-size: 1.3em;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background: hsl(0 0% 100% / 0.1);
}
.course {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 80px;
}
.course .v-s{
    padding: 0;
    transform: translateY(10px);
}
.book{
    width: 45%;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    background: var(--snow);
    border-radius:3px;
    padding: 15px;
    box-shadow: 7px 7px 15px var(--new),inset -7px -7px 15px var(--newg);
    transition: 280ms;
}
.book:hover{
    transform: translate(2px , -6px);
    box-shadow:  7px 7px 15px var(--newg), -7px -7px 15px var(--new);
}
.book .cover{
    width: 230px;
    height: 300px;
}
.cover img{
    width: 100%;
    height: 100%;
}
.book-data{
    padding:10px 15px;
}

.book-data p{
    line-height: 1.5em;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.book-data img{
    width: 30px;
}
.book-data .img{
    width: 120px;
    display: flex;
    align-items: center;
}
.book-data span{
    margin-left: 2px;
}
.b-da{
    width: 180px;
    display: inline-block;
    padding-left: 20px;
}

.down a{
    display: flex;
    align-items: center;
    padding:4px 8px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    background: var(--black);
    color:var(--snow);
    border-radius: 20px;
    margin: 40px 5px;
}
.down img{
    margin: 0 5px;
    background: var(--white);
    border-radius: 50%;
    width: 20px;
}
/* all courses books */
.all-course{
    margin-top: 50px;
    width: 90%;
}

.all-course h4{
    font-weight: normal;
    font-size: 1.5em;
    padding:12px;
    margin-top: 5px;
    text-align: center;
    position: relative;
}
.all-course h4::after{
    content: "";
    width: 457px;
    height: 3px;
    background: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.all-course a{
    display: block;
    text-decoration: none;
    color: var(--black);
}
.all-course a::first-letter{
    color:var(--darklight);
}
.c-y{
    width: 90%;
    font-size: 1.4em;
    padding:8px;
    margin-top: 15px;
    margin-bottom: -10px;
    color: var(--deeppink);
    position: relative;
}
.c-y::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 218px;
    height: 3px;
    background: var(--pink);
}

.back{
    width: 40px;
    cursor: pointer;
    transform: translateY(45px);
}
.back img{
    width: 100%;
}

/* responsive design */
@media (max-width : 1380px) {
    .book{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding:20px;
    }
    .book-data{
        margin: 15px auto;
    }
}

@media (max-width: 1100px) {
    .time-lect{
        flex-direction: column;
        align-items: center;
    }   
}


@media (max-width: 920px) {
    .course{
        flex-direction: column;
        align-items: center;
    }  
    .book{
        width: 80%;
    } 
}
@media (max-width: 896px) {
   .v-s{
    flex-direction: column;
    align-items: center;
   }
   .time-tab{
    width: 100%;
    text-align: center;
   }
   .time-tab::after{
    left:50%;
    transform: translateX(-50%);
   }
}
@media (max-width: 759px) {
    .academic{
        padding:30px 0;
    }
    .course-tim{
        padding-left: 30px;
    }
    .course{
        width: 85%;
        margin: auto;
        padding:0;
    }
    .v-s{
        padding:0;
    }
}
@media (max-width: 720px) {
    .course-tim{
        width: 80%;
        margin: auto;
    }
    .v-s{
        width: 80%;
        margin: auto;
    }
}
@media (max-width:660px) {
    .table{
        width: 470px;
        margin:10px auto;
    }
    #sys:hover{
        transform: none;
        box-shadow: none;
    }
    .course{
        width: 97%;
    }
}