/* faculty */
.top-dep{
    display: flex;
}
.all-dep{
    padding:25px 10px;
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    order: 2;   
}
.dep{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    width: 80px;
    padding:5px 10px;
    background-color: var(--blue);
    color:var(--white);
    border: none;
    border-radius: 9999999px;
    text-decoration: none;
}
.dep-active{
    background-color: var(--dark);
}
.search-bar{
    width: 70%;
    margin: 10px auto;
}
#search{
    width: 450px;
    padding:8px;
    font-size: 20px;
    color:#666;
    border:1px solid var(--blue);
}
.faculty{
    background:var(--new);
    margin-top: 55px;
    min-height: 700px;
}


.fac{
    width: 700px;
    padding:15px;
    margin: 30px auto;
}
.fac a{
    width:900px;
}
.fac li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faculty h5::after{
    content: "";
    width: 330px;
    height: 4px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.fac span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fac img{
    width: 40px;
}
.fac .tot{
    margin: 0 8px;
    color: var(--dark);
    font-size: 1.8em;
}
.fac ul{
    list-style: none;
}
.fac ul li{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.fac a{
    text-decoration: none;
    color: var(--dark);
    font-size: 1.7em;
    line-height: 1.5em;
}
.fac a:visited{
    color: var(--blue);
}
.fac a:active{
    color: var(--black);
}

/* lecturer detail */
.lecturers{
    background:var(--lightgrad);
    margin-top: 55px;
    min-height: 800px;
}

.lecturers h5,.faculty h5{
    margin-top: 10px;
    padding: 15px;
    padding-top: 25px;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    position: relative;
}
.lecturers h5::after{
    content: "";
    width: 500px;
    height: 4px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.lecturer-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lecturer{
    flex-basis: 70%;
    border:5px solid var(--dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 0px;
}
.lecturer p{
    width: 100%;
    height: 30px;
    background-color: var(--dark);
}
.data ul{
    list-style: none;
}
.data li{
    width: 550px;
    background: var(--whitegrad);
    padding:10px;
    font-size: 1.2em;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.data li:hover{
    background: var(--white);
    box-shadow: 3px 3px 2px var(--gary);
}
.data li:first-child{
    margin-top: 0;
}
.data li > span{
    width: 47%;
    word-wrap: break-word;
    word-break: break-all;
}
.data li span:first-child{
    margin-left: 15px;
}
.data li span img{
    width: 30px;
    margin: 0 8px;
}
.da-im{
    width: 140px;
    display: flex;
    align-items: center;
}
.img{
    margin: 30px 0;
    width: 330px;
    height: 310px;
}
.img img{
    border: 3px solid var(--white);
    box-shadow: 3px 3px 5px var(--gary);
    width: 100%;
    height: 100%;
}


.back-img{
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    order:1;
}

.back-img > img{
    width: 100%;
    height: 100%;
}
@media (max-width:580px) {
    .search-bar{
        display: flex;
        justify-content: center;
    }
    #search{
        width:400px;
    }
}
@media (max-width:760px) {
    .fac{
        width: 90%;
        margin:10px auto;
    }
    .fac li{
        padding:5px 0;
        margin-top: 10px;
        border-bottom: 2px solid black;
    }
    .fac li:last-child{
        border-bottom: none;
    }
    .all-dep{
        padding:45px 10px;
    }
}
@media (max-width : 1320px) {
    .data ul{
        padding: 40px;
    }
}

@media (max-width : 840px) {
    .lecturers h5::after{
        width: 330px;
    }
    .lecturer{
        width: 90%;
    }
    .data ul li{
        width:280px;
    }
    .data {
        margin: 0;
    }
}


