body{
    background-color: var(--new);
}

#menu {
    margin-top: 40px;
    padding: 25px 0 25px 0;
}
.link{
    width: 85%;
    margin: 15px auto;
    display:block;
    text-align: right;
    font-size: 1.1em;
    padding:10px;
}
.link a{
    text-decoration: none;
    background: #000;
    color:var(--white);
    width: 116px;
    height: 33px;
    padding:10px;
    margin-right: 15px;
    border-radius: 28px;
}
.link a:hover{
    background:#191818;
}
.link a:last-child{
    margin-right: 0px;
}

.link .active{
    background: #211f1f;
}
#section {
    padding: 15px 0 5px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    /* background-color:teal; */
}

#section::after{
    content: "";
    width: 450px;
    height: 3px;
    background: var(--dark);
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}

#menu_row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}

#menu_col {
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: bisque;
    margin: 5px;
    padding: 10px;
    width: 30%;
}

#menu_col h2 {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 7px;
}
#image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid gray;
}

#image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

@media (max-width: 1200px) {
    .box{
        width: 32%;
    }
    .link{
        text-align: center;
        margin-top: 20px;
    }
    #menu_row{
        justify-content: center;
    }
    #menu_col{
        width: 44%;

    }

    .ano-box{
        margin: 7px auto;
        width: 90%;
    }
}
@media (max-width: 980px) {
    .box{
        width: 46%;
        margin-top:15px;
    }
    .ano-box{
        width: 95%;
    }
}
@media (max-width: 800px) {
    #menu_col{
        width: 94%;
        margin: auto;

    }
}
@media (max-width: 630px) {
    .box{
        width: 96%;
        margin-top: 30px;
    }
    .ano-box{
        width: 97%;
    }
    #menu_row{
        padding:5px;
    }
    #menu_col{
        width: 90%;
        margin: auto;

    }
}
