/* :root{
    --whitegrad:linear-gradient(to left,#f1f9f8, #c1e9f9);
    --snowgrad:linear-gradient(to left, #c7c7c7a9, #fffafa );
    --blurgrad:linear-gradient(144deg, #8d89f366, #9dffdb66);
    --blackgrad:linear-gradient(144deg, rgba(252, 250, 250, 0.361),rgba(185, 238, 255, 0.616));
    --lightgrad: linear-gradient(to left,#bfefffaf,#f7f8f3,#bfefffaf);
    --tranwhite: #f3f8f84e;
    --black: #002c3e;
    --hover: #282657a8;
    --dark: #0f0d35;
    --blue: #287094;
    --white:#f0f4ff;
} */
*, *::after, *::before{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding:0 3em 0.2em;
    position: fixed;
    top:0%;
    left:50%;
    transform: translateX(-50%);
    background: var(--dark);
    z-index: 3;
}
.ano-logo{
    display:none;
}
.logo{
    color:var(--white);
}
.nav-links ul{
    display:flex;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    display: block;
    padding:0.8em;
    text-decoration: none;
    font-size: 18px;
    color:var(--white);
    transition: 0.2s linear;
    margin-top: 2px;
    position: relative;
}

.nav-links a::before{
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--white);
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease-in-out 250ms;
}

.nav-links a:hover::before{
    width: 90%;
}

/* menubar cross */
.menu,.cross{
    width: 40px;
    height: 25px;
    background-color: var(--tranwhite);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.menu span, .cross span{
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background: var(--black);
}

/* cross  */
.cross{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    display: none;
}

.cross span:first-child{
    transform: rotate(45deg);
}
.cross span:last-child{
    transform: rotate(-45deg);
}
/* menu bar */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}

/* Responsive Design */
@media (max-width : 660px) {
    nav{
        width: 100%;
        background:var(--dark);
        box-shadow: 3px 3px 5px var(--white);
        
    }
    .logo{
        padding:1.1em;
    }
    .nav-links{
        background: var(--blurgrad);
        backdrop-filter: blur(1rem);
        width: 55%;
        height: 100vh;
        transition: 0.5s ease-out transform;
        position: fixed;
        top:0%;
        left: 7%;
        transform: translateX(-450px);
    }
    .nav-links.menuToggle{
        transform: translateX(0);
    }
    .menu{
        display: flex;
    }
    .menu.menuToggle{
        display: none;
    }
    .cross.menuToggle{
        display: flex;
    }
    .menu .bm{
        animation: mnbar 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .cross.menuToggle .rc{
        animation: cross .7s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .nav-links ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links li{
        width: 91%;
    }
    .nav-links a{
        color:var(--dark);
        display: block;
        width: 100%;
    }
    .nav-links a::before{
        content: "";
        width: 0;
        height: 0;
    }
    .nav-links a:hover{
        letter-spacing: 2px;
        /* font-style: italic; */
        background: var(--tranwhite);
        backdrop-filter: blur(1rem);
        }
    .ano-logo{
        display: block;
        height: 130px;
        border-bottom: 2px solid var(--dark);
        position: relative;
    }
    .ano-logo img{
        height: 100%;
    }

    @keyframes cross {
        0%{
            transform: rotate(90deg);
        }
        100%{
            transform: rotate(-45deg);
        }
    }

    @keyframes mnbar {
        0%{
            transform: translateY(50px);
        }
        50%{
            transform: rotate(45deg);
        }
        100%{
            transform: rotate(0deg) translate(0);
        }
    }
}  